<!--Page d'accueil du site-->
{%extends 'home_base.html'%} <!--importation du modele pour l'accueil du site-->

{%block subtitle%}Accueil{%endblock%}

{%block content%}
<section>
<h2>Bienvenue sur la Banque de Clés d'Identification !</h2><br>
    <p><strong> Ce site vous permet de :  </strong></p>
    <h3> 1. Créer des clés d'identification </h3> 
		<p>Créez une ou plusieurs clés d'identification sur votre sujet préferé, tout en les partageant avec notre 
		communauté d'utilisateurs ou en le gardant privé.</p>
    <h3> 2. Éditer ses propres clés </h3> 
		<p>Vous avez oublié une question ou votre clé finale présente des erreurs d'ortographe ? Ne vous inquiétez pas, vous 
		pouvez revenir sur votre clé et la corriger.</p>
    <h3> 3. Consulter les clés d'identification déjà disponibles</h3>
        <p>Notre catalogue organise les clés en cinq catégories générales : botanique, zoologie, minéralogie,
            géologie et autres. <br><br><br>

    <strong> Choisissez une clé d'identification déjà existante dans notre banque de clés publiques ou conectez-vous pour créer ou éditer votre clé.</strong>

    <br><br> <strong> <ins> Liste des clés publiques : </ins> </strong>
        <ul>{% for cle in liste_cles_publiques %}
            <li><a href="{% url 'page_cle' cles_id=cle.id  %}">{{cle.cles_nom}}</a></li>
			{% endfor %}
        </ul>
	</p>
</section>

<aside>
<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzz2uNXJavS9gzGLjSmaT4Yq5984QYjPRTBu2yUVq9S9jYGdtB" alt="Logo Log in" height="50" width="60"/> 
<strong> <a href="{% url 'page_user_create' %}"> Inscrivez-vous ici </a></strong></p>
</aside>
{%endblock%}
