{%extends 'identification_base.html'%}

{%block subtitle%}Créer un nouveau compte{%endblock%}

{%block content%}
<p> Ce site utilise votre pseudonyme comme un identifiant unique lors du login : il doit être unique. </p>
<p> Tous les champs sont obligatoires. Si vous ne voulez pas informer un champs, vous pouvez mettre "NA" dans ces champs. <br><br>

<form class="alignement" action = "{% url 'page_user_create' %}" method="POST"> <!-- method= GET ou POST-->
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{hidden}}
	{% endfor %}
	{{utilisateur_form.utilisateur_nom.label_tag}}
	{{utilisateur_form.utilisateur_nom}}<br><br>
	
	{{utilisateur_form.utilisateur_prenom.label_tag}}
	{{utilisateur_form.utilisateur_prenom}}<br><br>
	
	{{utilisateur_form.utilisateur_pseudonyme.label_tag}}
	{{utilisateur_form.utilisateur_pseudonyme}}<br><br>
	
	{{utilisateur_form.utilisateur_email.label_tag}}
	{{utilisateur_form.utilisateur_email}}<br><br>
	
	{{utilisateur_form.utilisateur_date_inscription.label_tag}}
	{{utilisateur_form.utilisateur_date_inscription}}<br><br>
	
	<input type="submit" value="Submit"/>
</form>

<a href="{% url 'page_home' %}">&#8592; Retour à l'accueil </a>
</p>
{% endblock %}
